<!-- Add custom HTML to append on product pages bottom. -->
<div class="modal modal-center fade" id="modal-center" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="display: flex;align-items: center; justify-content: space-between">
        <h3 class="modal-title">Tabela de Medidas</h3>
<button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        <table cellspacing="0" cellpadding="2" bordercolor="666633" border="1"> <tbody><tr><td><h4 style="text-align: center; line-height: 1;"><span style="font-weight: bold;">&nbsp; CAMISA SOCIAL INFANTIL&nbsp;&nbsp;</span></h4></td><td><h4 style="text-align: center; line-height: 1;"><span style="font-weight: bold;">&nbsp; BERMUDA SOCIAL&nbsp;</span></h4></td></tr><tr><td><p></p><h5 style="text-align: left; line-height: 1;"><span style="font-weight: bold;">Camisa social 01 ano</span></h5>&nbsp;= Torax 30 cm<p></p><p>&nbsp;= Compr. 35 cm</p></td><td><h5 style="line-height: 1;"><span style="font-weight: bold;">Bermuda Social 1 ano:</span></h5>&nbsp;= cintura 26 cm<br>&nbsp;= quadril 29 cm&nbsp;<br>&nbsp;= compr. 28 cm&nbsp;</td></tr><tr><td><p></p><h5 style="line-height: 1;"><span style="font-weight: bold;">Camisa social&nbsp; 02 anos</span></h5>&nbsp;= Torax 31 cm<p></p><p>&nbsp;= Compr. 38 cm</p></td><td><h5 style="line-height: 1;"><span style="font-weight: bold;">Bermuda Social 2 anos:</span></h5>&nbsp;= cintura 27 cm&nbsp;<br> = quadril 30 cm<br> = compr. 29 cm&nbsp;</td></tr><tr><td><p></p><h5 style="line-height: 1;"><span style="font-weight: bold;">Camisa social&nbsp; 03 anos</span></h5>&nbsp;= Torax 34 cm<p></p><p>&nbsp;= Compr. 41 cm</p></td><td><h5 style="line-height: 1;"><span style="font-weight: bold;">Bermuda Social 3 anos:</span></h5>&nbsp;= cintura 28 cm<br>&nbsp; = quadril 31 cm<br>&nbsp; = compr. 29 cm</td></tr></tbody></table>
      </div>
    </div>
  </div>
</div>
