// Add your custom CSS here.

// variations border css
.ec-variations__option {
  border: 2px solid #343a40 !important;
}
.ec-variations__option--selected:not(:disabled) {
  border-color: var(--secondary) !important;
}

// Responsive
@media (max-width: 767px) {
  #product-block .ec-product__buy > button.btn-lg {
    width: 100%
  }
}
// font
body {
font-family: 'Open Sans', sans-serif;
}
// central
.ec-search__popover strong, .ec-search__popover span, .ec-search__popover  {
  text-align: center;
  font-weight: 300;
}
.products-carousel h3, .products-carousel strong, .products-carousel .ec-product-card__prices, .product-card h3, .product-card .ec-product-card__prices{
  text-align: center;
}
#product-block .ec-product__buy {
  padding-top: 1rem
}

